.body_user {
	display: flex;
	position: fixed;
	width: 80%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%);
	align-items: center;
}

.left_menu {
	background: #141414;
	width: 20%;
	height: 100vh;
}

.lft_button {
	display: grid;
	width: 100%;
	height: 10vh;
	text-align: center;
	vertical-align: middle;
	transition: .2s;
	border-radius: 5px;
}

.lft_button:hover {
	background: rgba(135, 135, 135, .5);
}

.lft_button:active {
	background: rgba(135, 135, 135, .3);
}

.lft_button>h2 {
	margin: auto;
}

.forma {
	width: 100%;
}

.screen {
	width: 100%;
	height: 100vh;
	background: rgba(46, 46, 46, .4);
}

.makeplay {
	width: 100%;
	height: 75px;
	background: 000;
	cursor: pointer;
	color:  white;
	transition: .2s;
	border: 0px;
	background: rgba(46, 46, 46, .4);
	text-align: center;
}

.makeplay:hover {
	background: rgba(46, 46, 46, .7);
}

.makeplay:active {
	background: rgba(46, 46, 46, .5);
}

.make_menu {
	width: 100% - 40px;
	height: calc(100vh - 219px);
	padding: 20px;
	overflow-y: scroll;
}

.play_img {
	position: relative;
	width: 200px;
	height: 200px;
	border-radius: 10px;

}

.play_img>img {
	width: 200px;
	height: 200px;
	border-radius: 10px;
}

.file {
	position: absolute;
	top: 0;
	left: 0;
	width: 200px;
	height: 200px;
	background: rgba(0, 0, 0, .4);
	border-radius: 10px;
	text-align: center;
	cursor: pointer;
	transition: .2s;
}

.file:hover {
	background: rgba(0, 0, 0, .7);
}

.file:active {
	background: rgba(0, 0, 0, .5);
}

.upload_img {
	display: none;
	width: 200px;
}

.file>h4 {
	height: 20px;
	width: 100%;
	margin-top: 90px;

}

.upp {
	display: flex;
	height: 200px;
}
.input {
	width: 300px;
}

.title {
	width: 300px;
	height: 30px;
	margin-left: 20px;
	background: 000;
	border: 0px;
	border-bottom: 1px solid grey;
	color: white;
	transition: .2s;
}

.title::placeholder {
	color: white;
}

.title:hover {
	border-color: white;
}

.title:focus-visible {
	width: 320px;
	outline: 0;
	border-color: rgba(2, 95, 248, 1);
}

#description {
	margin-top: 20px;
}

.check {
	width: 100%;
	height: 38px;
	cursor: pointer;
	position: relative;
	padding-top: 12px;
	transition: .2s;
	margin-left: 20px;
}

.inpt_check {
	width: 50px;
	height: 50px;
	appearance: none;
	-webkit-appearance: none;
	position: absolute;
	margin: auto;
	cursor: pointer;


}

.inpt_check:before {
	background: red;
}

.lbl_check {
	width: 80%;
	height: 25px;
	margin: auto;
	margin-top: 12px;
	margin-left: 50px;
	cursor: pointer;
}

.lbl_check:before {
	content: '';
	display: block;
	width: 20px;
	height: 20px;
	border: 1px solid grey;
	background: white;
	border-radius: 5px;
	position: absolute;
	top: 14px;
	left: 14px;
	z-index: 1;
	transition: .2s;
}

.lbl_check:after {
	content: '';
	display: block;
	width: 18px;
	height: 18px;
	opacity: 0;
	background: url('../../../img/check.png'), no-repeat;
	background-size: 18px;
	position: absolute;
	top: 15px;
	left: 15px;
	z-index: 2;
}

.inpt_check:checked + .lbl_check:before{
	background: rgba(2, 95, 248, 1);
	border:  0;
}

.inpt_check:checked + .lbl_check:after {
	opacity: 1;
}

.make {
	width: 304px;
	height: 50px;
	border: 0;
	padding: 0;
	border-radius: 10px;
	background: rgba(2, 95, 248, 1);
	color: white;
	transition: .2s;
	cursor: pointer;
	margin-left: 20px;
}

.make:hover{
	background: rgba(2, 95, 248, .8);
}

.make:active{
	background: rgba(2, 95, 248, .6);
}

.audio_menu {
	margin-top: 20px;
	width: 100% - 40px;
	height: calc(100vh - 219px);
}

.all_music {
	width: 100%;
	height: 50px;
	padding-top: 15px;
	background: rgba(46, 46, 46, .4);
	cursor: pointer;
	transition: .2s;
	text-align: center;
}

.all_music:hover {
	background: rgba(46, 46, 46, .8);
}

.all_music:active {
	background: rgba(46, 46, 46, .6);
}

.all_music>h3 {
	height: 20px;
	margin: 0;
}

.search_music {
	width: 100%;
	height: 50px;
}

.search_music_input {
	width: calc(98% - 20px);
	margin-left: 1%;
	height: 30px;
	padding: 10px;
	border: 0;
	border-bottom: 1px solid grey;
	color: white;
	background: 000;
	transition: .2s;
}

.search_music_input:hover {
	border-color: white;
}

.search_music_input::placeholder{
	color: white;
}

.search_music_input:focus-visible {
	outline: 0;
	border-color: rgba(2, 95, 248, 1);
	width: calc(100% - 20px);
	margin: 0;
}

.song {
	width: 100%-22px;
	height: 50px;
	padding: 11px;
	transition: .2s;
	cursor: pointer;
	position: relative;
	margin-top: 2px;
}

.song:hover {
	background: #1c1c1c;
}

.song_mrgn{
	display: flex;
	width: 100%;
	height: 50px;
}

.song_mrgn>h2 {
	margin: auto;
	width: 5%;
	text-align: center;

}

.img_song {
	width: 45px;
	height: 45px;
	margin: auto;
	border-radius: 7px;
	box-shadow: 0 0 4px 4px rgba(28, 28, 28, 1);;
}


.play_bg {
	width: 40px;
	height: 40px;
	border-radius: 10px;
	position: absolute;
	margin-top: 5px;
	margin-left: 5px;
	transition: .2s;
}

.play_bg:hover {
	background: rgba(46, 46, 46, .4);
}

.play_bg:active {
	background: rgba(46, 46, 46, .2);
}


.play {
	width: 30px;
	height: 30px;
	margin: 10px;
}

.titles_songs {
	width: calc(100% - 187px);
	height: 50px;
	margin: auto;
	margin-left: 20px;
}

.titles_songs>h3{
	margin: auto;
}

.titles_songs>h4 {
	margin: auto;
	color: grey;
}

.add {
	width: 50px;
	height: 50px;
	background: 000;
	border:  0;
	border-radius: 10px;
	cursor: pointer;
	transform: rotate(0deg);
	transition: .2s;
	-webkit-transition: -webkit-transform .5s;
	transition: transform .5s;
	padding: 0;
}

.add:focus-visible {
	outline: 0;
}

.add:hover {
	background: rgba(46, 46, 46, .8);
}

.add:active {
	background: rgba(46, 46, 46, .6);
}

.add>img {
	width: 30px;
	height: 30px;
	margin: 10px;
	transition: .2s;
}

.rotate45 {
	transform:rotate(45deg);
}

.audio {
	position: fixed;
	bottom: -100px;
	transition: bottom .2s;
}

.audio.active {
	display: inline-block;
	position: fixed;
	width: calc(100% - 100px);
	background: whitesmoke;
	height: 50px;
	bottom: -50px;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%);
	align-items: center;
}


.activesong{
	background: rgba(2, 95, 248, .6);
}

.left,.right {
	background: whitesmoke;
	width: 50px;
	height: 50px;
	position: fixed;
	bottom: -100px;
	transition: .2s;
	cursor: pointer;
}

.left:hover,.right:hover {
	background: lightgrey;
}

.left:active,.right:active {
	background: grey;
}

.left>img,.right>img {
	width: 30px;
	height: 30px;
	margin: 10px;
}

.left {
 	left: 0;
}

.left>img {
 	transform: rotate(180deg);
}

.right {
 	right: 0;
}

.btn {
	bottom: -50px;
}

.btn_save {
	height: 50px;
	width: 385px;
	display: flex;
}

.delete {
	width: 50px;
	height: 50px;
	background: darkred;
	border: 0px;
	border-radius: 10px;
	margin-left: 10px;
	padding: 0;
	cursor: pointer;
	transition: .2s;
}

.delete:hover {
	background: rgba(139, 0, 0, .8);
}

.delete:active {
	background: rgba(139, 0, 0, .6);
}

.delete>img {
	width: 32px;
	height: 32px;
	margin: 9px;
}